server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: company-service
          uri: lb://company-service
          predicates:
            - Path=/api/companies/**
        - id: stock-service
          uri: lb://stock-service
          predicates:
            - Path=/api/stocks/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
